html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*#components-layout-demo-responsive .logo {*/
/*  height: 32px;*/
/*  margin: 16px;*/
/*  background: rgba(255, 255, 255, 0.2);*/
/*}*/

/*.site-layout-sub-header-background {*/
/*  background: #fff;*/
/*}*/

/*.site-layout-background {*/
/*  background: #fff;*/
/*}*/

.ant-layout-sider-zero-width-trigger {
  right: auto !important;
  left: -36px !important;
  border-radius: 10px 0 0 10px !important;
}
